<footer>
    <h3>💖 We would love to get more input - sharing is caring 🚀</h3>
    Feel free to dive in! Open an <a href="https://github.com/kotzendekrabbe/slack-etiquette.online/issues">issue</a> or submit a <a href="https://github.com/kotzendekrabbe/slack-etiquette.online/pulls">Pull Request</a>. ❤️
    <hr>
    Copyright 2020 by <a href="https://twitter.com/stefan_judis">Stefan</a>, <a href="https://twitter.com/kotzendekrabbe">Feli</a> and <a href="https://github.com/kotzendekrabbe/slack-etiquette.online/graphs/contributors">contributors</a>. Released under the <a href="https://github.com/kotzendekrabbe/slack-etiquette.online/blob/primary/LICENSE">MIT license</a>.
</footer>