body {
  font-family: sans-serif;
  color: #373737;
  font-size: 16px;
  line-height: 1.25;
}

main {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  line-height: 0;
}



ul {
  padding: 0 0 1em 1em;
  margin: 0;
}

a {
  color: #FF7300;
}

h2 {
  border-bottom: 1px solid #939393;
}

h2, h3 {
  margin: 1.5em 0 .425em 0;
}

p {
  margin: 0 0 1em 0;
}

blockquote {
  margin: 0 0 1.5em 0;
  padding: .75em .5em 0 .5em;
  background-color:#e3e3e3;
  color:  #FF7300;
  border-left: 3px solid #939393;

  font-style: italic;
}

blockquote img {
  margin: 0 -0.5em;
  max-width: calc(100% + 1em);
}

blockquote p:last-child {
  padding-bottom: .5em;
}

blockquote p img {
  margin-bottom: -.5em;
}