body {
  font-family: sans-serif;
  color: #373737;

  font-size: 18px;
  line-height: 1.5;
}

main {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  line-height: 0;
}

ul {
  padding: 0 0 1em 1em;
  margin: 0;
}

a {
  color: #DE295C;
}

h2 {
  border-bottom: 1px solid #939393;
}

h2, h3 {
  margin: 2em 0 .5em 0;
}

p {
  margin: 0 0 1em 0;
}

blockquote {
  margin: 0 1em 1.5em 1em;
  padding: .75em 1em 0 1em;
  background-color: #ecf7fd;
  color: inherit;
  border-radius: 5px;
}

blockquote img {
  margin: 0 -0.5em;
  max-width: calc(100% + 1em);
}

blockquote p:last-child {
  padding-bottom: .5em;
}

blockquote p img {
  margin-bottom: -.5em;
}

/* github corner* */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}